[submodule "serverAuth"]
	path = serverAuth
	url = https://github.com/Furl0w/serverAuth
[submodule "serverDB"]
	path = serverDB
	url = https://github.com/Furl0w/serverDB
[submodule "serverPyV2"]
	path = serverPyV2
	url = https://github.com/Furl0w/serverPyV2
[submodule "serverStatic"]
	path = serverStatic
	url = https://github.com/Furl0w/serverStatic
